nav, .header {
	display: none;
}

body {
	background: transparent;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	color: black;
	font-family: serif;
	font-size: 10pt;
	font-weight: 400;
}

.section--title {
	margin: 40px;
	text-align: center;
}

h2{
	margin :0;
	padding :0;
	text-indent :0;
	line-height :20pt;
	font-size :20pt;
}

.section--text {
	padding: 20px;
	font-size: 10pt;
	text-align: center;
}

.rdiv {
	display: none;
}

table {
	margin: 0.75em 0 2em 0;
	font-size: 75%;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

#theadConsultation tr:first-child {
	display: none;
}

table th {
	color: black;
	background-color: #ced8e2;
}

table th, table td {
	vertical-align: middle;
	text-align: center;
	font-size: 0.75em;
	border: solid 1px black;
}

table tbody tr {
	border: solid 1px black;
	border-left: 0;
	border-right: 0;
}

.RM_number, .reag_number, .ind_number, .std_number, .sc_number, .status_OK, .status_destroy, .status_notOpen, .status_Perempted {
	font-weight: bold;
}

.status_destroy, .RM_number {
	color: black;
}

.status_OK, .ind_number {
	color: green;
}

.status_Perempted, .reag_number {
	color: red;
}

.status_notOpen, .std_number {
	color: #00c1ff;
}

.sc_number {
	color: orange;
}

.destructed td {
	background-color: rgb(92, 112, 132);
	color: #bbb;
}

.noDisplay {
	display: none;
} 




